
<html>
	<style>
		body{
			background-color: aliceblue;
		}
		#container {
					  max-width: 400px;
					  margin: 10px auto;
					  padding: 10px 20px;
					  background: rgb(182, 182, 182);
					  border-radius: 8px;
					}
					h1{
						font-size: 40px;
						font-weight: bold;
						font-style: italic;
						color:darkgreen;
						text-align: center;
					}
	</style>
	<body>
		<div id="container">
			
		<h1>Your Email is already used</h1><br><br>
		<h1>Please  Enter Another Email</h1>
		
		</div>
	</body>
</html>
